.body {
  margin: 33px 120px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* Directory */
.directory-subtitle-controls {
  display: flex;
  justify-content: space-between;
}

.view-style-buttons > button {
  height: 24px;
  width: 24px;
  padding: 0;
}

/* Breadcrumbs */
.previous-page, .current-page {
  height: 24px;
  width: 101px;
  /* TODO download font */
  /* font-family: Poppins; */
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.previous-page {
  color: #222B45;
}

.current-page {
  color: #3366FF;
}

/* Directory Filters */
.filters-container {
  height: 88px;
  /* width: 1200px; */
  border-radius: 4px;
  background-color: #A6C1FF;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-select-with-label {
  display: flex;
  width: 25%;
  margin: 20px;
}

.filter-select-with-label label {
  width: 25%;
}

.filter-select {
  width: 15%;
  margin: 20px 30px;
}

select.filter-dropdown {
  width: 100% !important;
}

.filter-select-with-label select {
  width: 60%;
}

.search-sort-form {
  display: flex;
}

.sorting-container {
  display: flex;
  width: 50%;
}

.sort-by {
  display: flex;
  width: 60%;
}

.sort-by select {
  width: 60%;
}

.experience-sort {
  width: 30%;
}